
@{
    ViewData["Title"] = "List";
}

<h1>List of Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               User name
            </th>
            <th>Roles </th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in ViewBag.users) {
        <tr>
            <td>
               @user
            </td>
            <td>
           
           
                @if(user.isAdmin)
                {
                   <div>Admin</div>
                }
                else
                {
                   <a asp-action="AssignRole" asp-route-role="Administrator" asp-route-userId="@user">Make Admin</a> 
                }
            
                @if(user.isUser)
                {
                   <div>User</div>
                }
                else
                {
                   <a asp-action="AssignRole" asp-route-role="User" asp-route-userId="@user">Make User</a> 
                }
             
            </td>
        </tr>
}
    </tbody>
</table>


