@model IEnumerable<TerrainBuilder.Data.Meeting>

@{
    ViewData["Title"] = "Meetings";
}

<h1>Meetings</h1>
<div class="alert alert-primary">All meetings will be held at the Mathematical Club in Burgas</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate).
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
         </tr>
}
    </tbody>
</table>
