@model TerrainBuilder.Models.TerrainViewModel 


<table>
    <tr>
        <td></td>
    </tr>
@for (int i = 0; i < Model.Length; i++)
{
    <tr>
    @for (int j = 0; j < Model.Width; j++)
    {
        double x = Model.Heights[i][j];
        string colorCode;
        if (x < -0.8)
        {
            colorCode = "blue";
        }
        else if (x >= -0.8 && x < -0.5)
        {
            colorCode = "cyan";
        }
        else if (x >= -0.5 && x < -0.3)
        {
            colorCode = "yellow";
        }
        else if (x >= -0.3 && x < -0.1)
        {
            colorCode = "green";
        }
        else if (x >= -0.1 && x < 0.2)
        {
            colorCode = "darkgreen";
        }
        else if (x >= 0.2 && x < 0.6)
        {
            colorCode = "gray";
        }
        else
        {
            colorCode = "white";
        }
        <td style="background-color:@colorCode;color:@colorCode" height="2px" width="2px">   </td>
    }
    </tr>
}
</table>